body {
    margin: 40px;
}

.container {
    display: flex;
    gap: 20px;
}

.box {
    width: 200px;
    padding: 20px;
    border: 5px solid black;
    background-color: rgb(148, 144, 144);
}

.content-box {
    box-sizing: content-box;
    background-color: pink;
}

.border-box {
    box-sizing: border-box;
    background-color: rgb(247, 49, 250);
}

.medidas {
    font-size: 14px;
    color: rgb(137, 206, 238);
    margin-top: 5px;
}

.resalto {
    background-color: aliceblue;
    padding: 2px 5px;
}

{}

{}